[View in Colaboratory](https://colab.research.google.com/github/davidkorea/google_colaboratory/blob/master/TGS_Salt_Identification_Challenge.ipynb)

In [0]:
#read/write image data
!pip install imageio
#deep learning library
!pip install torch
#access kaggle datasets from colab
!pip install kaggle
#model loading
!pip install ipywidgets

In [0]:
#File input output
import os
#matrix math
import numpy as np
#read/write image data
import imageio
#visualize data
import matplotlib.pyplot as plt
#data preprocessing 
import pandas as pd
#deep learning
import torch
#just in case we need a backup datasets
from torch.utils import data
#will output the plot right below the cell that produces it
%matplotlib inline

In [19]:
# 查看目录下所有文件所占用的空间
!ls -lha

total 24K
drwxr-xr-x 1 root root 4.0K Sep 10 14:25 .
drwxr-xr-x 1 root root 4.0K Sep 10 12:49 ..
drwxr-xr-x 4 root root 4.0K Sep  6 17:27 .config
-rw-r--r-- 1 root root   64 Sep 10 14:25 kaggle (1).json
-rw-r--r-- 1 root root   64 Sep 10 12:58 kaggle.json
drwxr-xr-x 2 root root 4.0K Sep  6 17:46 sample_data

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so lets move it there.
# 如果用-p 可以直接创建2个目录 mkdir -p A/B(如果父目录A不存在就创建)
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [26]:
!ls /root/.kaggle/

kaggle.json

In [27]:
!pwd

/content

In [30]:
#lets now download our dataset
!kaggle competitions download -c tgs-salt-identification-challenge

Downloading depths.csv to /content
  0% 0.00/322k [00:00<?, ?B/s]
100% 322k/322k [00:00<00:00, 44.9MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/264k [00:00<?, ?B/s]
100% 264k/264k [00:00<00:00, 66.6MB/s]
Downloading train.csv to /content
  0% 0.00/922k [00:00<?, ?B/s]
100% 922k/922k [00:00<00:00, 92.0MB/s]
Downloading test.zip to /content
 92% 150M/163M [00:00<00:00, 206MB/s]
100% 163M/163M [00:00<00:00, 217MB/s]
Downloading train.zip to /content
 76% 29.0M/37.9M [00:00<00:00, 67.8MB/s]
100% 37.9M/37.9M [00:00<00:00, 167MB/s]

In [0]:
!ls
!unzip train.zip

In [35]:
!ls

depths.csv  kaggle (1).json  masks	  sample_submission.csv  train.csv
images	    kaggle.json      sample_data  test.zip		 train.zip

In [0]:
#lets create a class to represent this data, to make it easier to access

class TGSSaltDataset(data.Dataset):
    #init with the location of the dataset, and the list of file 
    def __init__(self, root_path, file_list):
        self.root_path = root_path
        self.file_list = file_list
    #get method - how long is the list
    def __len__(self):
        return len(self.file_list)
    #get method - return the seismic image + label for a given index
    def __getitem__(self, index):
        #if the index is out of bounds, get a random image
        if index not in range(0, len(self.file_list)):
            return self.__getitem__(np.random.randint(0, self.__len__()))
        #define a file ID using the index parameter
        file_id = self.file_list[index]
        #image folder + path
        image_folder = os.path.join(self.root_path, "images")
        image_path = os.path.join(image_folder, file_id + ".png")
        #label folder + path
        mask_folder = os.path.join(self.root_path, "masks")
        mask_path = os.path.join(mask_folder, file_id + ".png")
        #read it, store it in memory as a byte array
        image = np.array(imageio.imread(image_path), dtype=np.uint8)
        mask = np.array(imageio.imread(mask_path), dtype=np.uint8)
        #return image + label
        return image, mask

In [0]:
depths_df = pd.read_csv('depths.csv')
train_df = pd.read_csv('train.csv')

In [37]:
depths_df.head()

           id    z
0  4ac19fb269  306
1  1825fadf99  157
2  f59821d067  305
3  5b435fad9d  503
4  e340e7bfca  783

In [39]:
train_df.head()

           id                                           rle_mask
0  575d24d81d                                                NaN
1  a266a2a9df                                          5051 5151
2  75efad62c1  9 93 109 94 210 94 310 95 411 95 511 96 612 96...
3  34e51dba6a  48 54 149 54 251 53 353 52 455 51 557 50 659 4...
4  4875705fb0  1111 1 1212 1 1313 1 1414 1 1514 2 1615 2 1716...

In [43]:
depths_df.loc[depths_df['id']=='a266a2a9df']

              id    z
2332  a266a2a9df  794

In [0]:
merge_df= train_df.merge(depths_df)

In [42]:
merge_df

              id                                           rle_mask    z
0     575d24d81d                                                NaN  843
1     a266a2a9df                                          5051 5151  794
2     75efad62c1  9 93 109 94 210 94 310 95 411 95 511 96 612 96...  468
3     34e51dba6a  48 54 149 54 251 53 353 52 455 51 557 50 659 4...  727
4     4875705fb0  1111 1 1212 1 1313 1 1414 1 1514 2 1615 2 1716...  797
5     782ae9b7e7  1 1815 1819 90 1920 81 2021 73 2122 64 2223 55...  677
6     9842f69f8d                                                NaN  907
7     aa94cfb806  1 28 102 28 203 29 304 30 405 32 506 33 607 34...  754
8     50d3073821                                    1 2121 9293 909  810
9     28f865caaa                                                NaN  147
10    b5e1371b3b  75 27 175 28 275 29 374 31 474 32 574 33 674 3...  325
11    57e394bc67                                                NaN  765
12    b45ad3932e  49 11 149 11 249 11 351 10 452 9 553 9 654 8 7...  613
13    ef51bbcde7                                                NaN  712
14    d4d34af4f7                                          8788 1414  114
15    302ea1ac81  6 96 108 95 210 94 311 94 413 93 515 92 615 93...  470
16    40dcff68b3  3536 4 3637 20 3738 36 3839 53 3940 70 4041 86...  707
17    7845115d01                                          7677 2525  343
18    3da729cae9  1 54 102 54 203 53 304 53 405 53 506 53 607 53...  707
19    d67e3a11d8                                                NaN  585
20    b3396387a6  42 60 141 62 241 63 341 64 441 65 542 65 642 6...  407
21    a5471f53d8            9797 1 9891 8 9986 14 10081 20 10176 26  659
22    d27831fef2  93 9 195 8 296 8 397 8 498 8 599 8 701 7 802 7...  657
23    7faea04242  1 6865 6869 92 6970 86 7071 81 7172 76 7273 71...  818
24    9747413253                                                NaN  472
25    b9614348f4  1 3434 3439 97 3544 93 3647 91 3749 90 3853 87...  429
26    4696bb53e6  23 79 127 76 228 76 335 70 439 67 543 64 650 5...  438
27    fc250f574c  3435 1 3536 1 3637 2 3738 2 3839 3 3940 3 4041...  684
28    005b452274                                                NaN  657
29    02117a400e  4041 1 4142 4 4243 7 4344 10 4445 13 4546 15 4...  696
...          ...                                                ...  ...
3970  16207869ba                          3447 41 3528 71 3618 6584  359
3971  44d745a704  91 11 191 12 291 13 392 13 492 14 592 15 693 1...  307
3972  711c478c93                                                NaN  548
3973  84e23dba29  304 1 405 2 506 3 607 4 708 5 809 6 910 7 1011...  576
3974  e73532b450                                                NaN  703
3975  8329ec9395  1 4039 4041 99 4142 98 4243 96 4344 95 4445 94...  625
3976  7e7276d088  405 1 506 3 607 5 708 8 809 10 910 12 1011 14 ...  491
3977  0e63d9a8b4  7573 3 7674 3 7775 3 7876 3 7977 3 8078 3 8179...  515
3978  1d80de2ec9                                                NaN  277
3979  919bc0e2ba                                             1 5959  352
3980  5cada3d3f1                                                NaN  364
3981  0530b67189  3938 2 4032 9 4127 15 4221 22 4310 34 4398 47 ...  437
3982  fb44090bc7                                                NaN  842
3983  3c1ed5cc1f                                                NaN  555
3984  c7f54785b8                      92 10 195 8 298 6 402 3 505 1  297
3985  158765ed16  1 8585 8587 100 8690 98 8793 96 8896 94 8998 9...  330
3986  3ff3881428                                                NaN  100
3987  e8d8b35601  79 11 177 13 276 14 375 15 474 16 573 18 672 1...  637
3988  a7cfa30d35  1 84 102 83 203 81 304 79 405 77 506 75 607 73...  843
3989  917ef84e64                                                NaN  949
3990  633c7d5c80                                                NaN  249
3991  30082e87d9  59 43 163 40 267 37 371 34 472 34 573 34 674 3...  630
3992  f139be21a4                                                NaN  715
3993  ac931ace49                 6464 1 6565 1 6666 1 6767 1 6868 1  141
3994  cb36193e2f  74 28 173 30 270 34 367 38 467 39 567 40 668 4...  648
3995  9cbd5ddba4                                                NaN  218
3996  caa039b231  2398 7 2499 11 2600 16 2700 22 2801 26 2901 29...  602
3997  1306fcee4c                                                NaN  177
3998  48d81e93d9  2828 1 2927 3 3026 5 3126 6 3225 8 3324 10 342...  221
3999  edf1e6ac00                                                NaN  460

[4000 rows x 3 columns]